<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.istekno.app.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:authorities="com.istekno.app.core.utils.ContextProvider"
            android:name=".utils.ContextProvider"
            android:exported="false"/>
    </application>
</manifest>